body {
    background-color: powderblue;
}
h1 {
    color: green; 
}
p {
    color: green;
    }
#sibirskaya-koshka { 
    color: black;
    background-color:white;
    text-align: center;
}
.cat { 
    color:yellow; 
    background-color:green;
    text-align: center;
}
